/* 
================
   Base Styles
================
*/

html {
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background-color: #FFFEF9;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

/* 
================
    Variables
================
*/

:root {
    /* Primary Color */
    --color-primary: #C90000;
    --color-secondry: #FFC300;

    /* Text Color */
    --color-text-lightgrey: #7D7C7C;
    --color-text-lightblack1: #504F4F;
    --color-text-lightblack2: #323232;

    /* Background Color */
    --color-background-lightgrey1: #E3E3E3;
    --color-background-lightgrey2: #F1F1F1;
    --color-background-lightyellow: #FFFDE6;
}

/* 
================
   Components
================
*/

.btn {
    height: 3.9rem;
    gap: 1rem;
    padding-top: 0.7rem;
    padding-right: 1.6rem;
    padding-bottom: 0.8rem;
    padding-left: 1.6rem;
    border-radius: 10rem;
    border-width: 0.1rem;
}

/* 
================
 Helper Classes
================
*/

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* 
================
     Header
================
*/

.header {
    padding: 1.2rem 0;
    position: relative;
    left: 0;
    right: 0;
}

.nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
}

/* .nav__logo-img {} */

.nav-list {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8.5rem;
}

.nav-list__actions {
    display: none;
}

/* .nav-list__item {} */

.nav-list__link {
    font-family: "Poppins SemiBold";
    color: var(--color-text-lightgrey);
    text-decoration: none;
    transition: 0.2s;
}

.nav-list__link:hover {
    color: var(--color-primary);

}

.nav-list__link--active {
    color: var(--color-primary);
}

.nav__actions {
    transition: 1s;
}

.nav-action {
    transition: 0.2s;
}

.nav-action:nth-child(1) {
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
}

.nav-action:nth-child(1):hover {
    background-color: var(--color-primary);
    color: #fff;
}

.nav-action:nth-child(2) {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 0.5rem;
}

/* 
================
  Main
================
*/

/* .main {} */

/* 
================
  Home Section
================
*/

.home {
    margin-bottom: 6rem;
}

.home-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
}

/* .home-content {} */

.home-content__title {
    font-family: 'Poppins SemiBold';
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 7.5rem;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 40%);
    color: var(--color-primary);
    margin-bottom: 2rem;
    width: 75%;
}

.home-content__caption {
    color: var(--color-text-lightblack1);
    width: 75%;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 20%);
    line-height: 2.2rem;
    margin-bottom: 6rem;
}

.home-content__order {
    margin-bottom: 2rem;
}

.home-content__order-total {
    font-family: "Poppins Light";
    color: var(--color-text-lightblack2);
    font-size: 1.7rem;
}

.home-content__order-price {
    font-family: "Poppins Medium";
    font-size: 2rem;
}

.home-content__actions {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.home-content__actions.mobile {
    display: none;
}

.home-content__btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 4.6rem;
    box-shadow: 0 10px 17px 0 rgba(112, 144, 176, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

.home-content__quantity-plus {
    border: none;
    background: transparent;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
}

.home-content__quantity-numbers {
    color: var(--color-secondry);
    font-size: 2rem;
    margin: 0 1rem;
    position: relative;
    width: 4rem;
    text-align: center;
}

.home-content__quantity-numbers::before {
    content: "";
    position: absolute;
    width: .15rem;
    height: 2rem;
    background-color: #F1F1F1;
    border-radius: 2rem;
    left: -1.2rem;
}

.home-content__quantity-numbers::after {
    content: "";
    position: absolute;
    width: .2rem;
    height: 2rem;
    background-color: #F1F1F1;
    border-radius: 2rem;
    right: -1.2rem;
}

.home-content__quantity-minus {
    border: none;
    background: transparent;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
}

.home-content__btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondry);
    width: 18.9rem;
    height: 6.2rem;
    font-family: "Poppins Medium";
    font-size: 2rem;
    box-shadow: 0 20px 20px 0 rgba(112, 144, 176, 0.2);
    cursor: pointer;
}

.home-photo {
    max-width: 63rem;
}

.home-photo__img {
    width: 100%;
}

/* 
================
  Menu Section
================
*/

.menu {
    padding: 15rem 0;
}

.menu__title {
    width: 14rem;
    font-family: "Poppins SemiBold";
    font-size: 4.8rem;
    color: var(--color-primary);
    position: relative;
    margin-bottom: 5rem;
}

.menu__title::after {
    content: "";
    position: absolute;
    width: 13.7rem;
    height: 0.8rem;
    background-color: #FFF6A3;
    bottom: 0.3rem;
    left: -0.4rem;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}

.menu-list {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    margin-bottom: 4rem;
}

.menu-list::-webkit-scrollbar {
    width: 0;
}

.menu-list__item {
    display: flex;
    min-width: 16rem;
    height: 5.2rem;
    padding: 8px 20px 8px 20px;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-lightgrey2);
    border: solid 1px #E3E3E3;
    cursor: pointer;
    transition: 0.2s;
}

.menu-list__item--active {
    background-color: var(--color-secondry);
}

/* ----- Foods ------ */

.menu-foods__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 5rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s;
}

.menu-foods__wrapper--show {
    display: grid;
    height: auto;
    opacity: 1;
    overflow: visible;
}

.menu-food {
    padding: 1.6rem;
    border-radius: 1.2rem;
    border: solid 1px #E3E3E3;
    position: relative;
}

.menu-food--hidden {
    display: none;
}

.menu-food__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
    position: relative;
}

.menu-food__photo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10.5rem;
    background-color: #FFFDE6;
    z-index: -1;
    border-radius: 0.8rem;
    bottom: -2rem;
}

.menu-food__title {
    font-family: "Poppins SemiBold";
    font-size: 2rem;
    color: var(--color-text-lightblack2);
}

.menu-food__caption {
    margin: 1rem 0;
    color: var(--color-text-lightblack1);
}

.menu-food__rank {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 1.5rem;
}

.menu-food__score {
    color: var(--color-text-lightgrey);
}

.menu-food__shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-food__price {
    font-family: "Poppins SemiBold";
    font-size: 2.4rem;
    color: var(--color-text-lightblack2);
}

.menu-food__svg {
    cursor: pointer;
}

.food-menu__discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.menu__see-all {
    display: block;
    font-family: "Poppins Medium";
    font-size: 2rem;
    color: var(--color-text-lightblack1);
    text-decoration: underline;
    text-align: center;
    margin-top: 4rem;
}

/* 
================
     Overlay
================
*/

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 10%);
    inset: 0;
    backdrop-filter: blur(4px);
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
}

.overlay--show {
    opacity: 1;
    z-index: 10;
}